{% extends "base.html" %}

{% block content %}
<h2 class="text-3xl font-bold text-green-400">Cybersecurity Blog</h2>
<p class="mt-4 text-gray-300">Latest news and insights on cybersecurity.</p>



<div class="mt-6">
    {% for post in posts %}
    <div class="bg-gray-800 p-4 rounded-lg shadow-md mb-4">
        <h3 class="text-xl font-semibold text-green-400">{{ post.title }}</h3>
        {% if post.image %}  <!-- Check if an image exists -->
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="my-4 rounded-lg">
        {% endif %}
        <p class="text-gray-300">{{ post.content }}</p>
        <p class="text-gray-500 text-sm">Published on: {{ post.created_at }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}













<!-- <!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
</head>
<body>
    <h1>Cybersecurity Blog</h1>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <hr>
    {% endfor %}
</body>
</html> -->
